*{
   align-items: center;

  
    

}   

.menu{
    background-color: rgb(231, 104, 104);
    border-radius: 40px 40px;
    color: rgb(178, 245, 239);
    padding: 3px;
    text-align: center;
    margin-top: 50px;
    top:50%;
    transform: translateY(-50%);
    font-size: 30px;
    font:normal;



}
.menu:hover{
    color: teal;
}

.container img{
        display: block;
        position:absolute;
        
        margin: auto;
        width: 40%;
        height: auto;
        object-fit: cover;
        transition: opacity 0.5 ease;
    }
    
    .container img:hover{
        opacity: 0;
        
        
    }


.rodape{
background-color: rgb(212, 161, 161);
border-radius: 40px 40px;
color: rgb(245, 178, 178);
padding: 30px;
text-align: center;
margin-top: 500px;

}
.rodape a{
    color: #555;
    font-size: 25px;
    text-decoration: none;
    
}
.a:hover{
    color: #3b5998;
}

